<footer id="footer" class="shadow">
    <div class="container">
      <div class="copyright">
        <div class="header-social-links fs-5">
          <a href="<%=home_info.whatsapp_link%>" target="_blank" class="twitter text-success" style="font-size: 25px;"><i class="bi bi-whatsapp"></i></a>
          <a href="<%=home_info.facebook_link%>" target="_blank" class="facebook text-primary" style="font-size: 25px;"><i class="bi bi-facebook"></i></a>
          <a href="<%=home_info.instagram_link%>" target="_blank" class="instagram" style="font-size: 25px;color:rgb(252, 29, 185)"><i class="bi bi-instagram"></i></a>
          <a href="<%=home_info.linkedin_link%>" target="_blank" class="linkedin " style="font-size: 25px;color: rgb(8, 8, 151);"><i class="bi bi-linkedin"></i></i></a>
        </div>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: htt+ps://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/ -->
        Designed by <a href="/">virajdhakane</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="user/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="user/vendor/aos/aos.js"></script>
  <script src="user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="user/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="user/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="user/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="user/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="user/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="user/js/main.js"></script>

</body>

</html>