<%-include('navbar.ejs') %>

<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="font-size: 40px;"><%= home_info.your_name%></h1>
      <h2 class="text-primary">I'm a Full Stack Web Developer</h2>
      <a href="/about" class="btn-about">About Me</a>
    </div>
</section>
<!-- End Hero -->

	
<%-include('footer.ejs') %>
