<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Viraj Dhakane</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="user/images/favicon.png" rel="icon">
  <link href="user/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <!-- Vendor CSS Files -->
  <link href="user/vendor/aos/aos.css" rel="stylesheet">
  <link href="user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="user/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="user/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="user/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="user/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="user/style.css" rel="stylesheet">
  <link href="user/style2.css" rel="stylesheet">

  

  <!-- =======================================================
  * Template Name: Kelly
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header"  class="fixed-top noprint shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="/"><img src="user/images/favicon.png" style="width: 80px;border-radius: 5px;"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="user/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="" href="/" id="home_page_btn">Home</a></li>
          <li><a href="/about" id="about_page_btn">About</a></li>
          <li><a href="/resume" id="resume_page_btn">Resume</a></li>
          <li><a href="/portfolio" id="portfolio_page_btn">Blog</a></li>
          <li><a href="/contact" id="contact_page_btn">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links fs-5">
        <a href="<%=home_info.whatsapp_link%>" target="_blank" class="twitter text-success" style="font-size: 25px;"><i class="bi bi-whatsapp"></i></a>
        <a href="<%=home_info.facebook_link%>" target="_blank" class="facebook text-primary" style="font-size: 25px;"><i class="bi bi-facebook"></i></a>
        <a href="<%=home_info.instagram_link%>" target="_blank" class="instagram" style="font-size: 25px;color:rgb(252, 29, 185)"><i class="bi bi-instagram"></i></a>
        <a href="<%=home_info.linkedin_link%>" target="_blank" class="linkedin" style="font-size: 25px;color: rgb(8, 8, 151);"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>

  </header><!-- End Header -->
  <script>
		if(location.pathname=='/')
		{
			document.getElementById("home_page_btn").classList.add("active");
		}
		if(location.pathname=='/about')
		{
			document.getElementById("about_page_btn").classList.add("active");
		}
		if(location.pathname=='/resume')
		{
			document.getElementById("resume_page_btn").classList.add("active");
		}
		if(location.pathname=='/portfolio')
		{
			document.getElementById("portfolio_page_btn").classList.add("active");
		}
		if(location.pathname=='/contact')
		{
			document.getElementById("contact_page_btn").classList.add("active");
		}
	</script>