<%-include('navbar.ejs') %>
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2 class="mt-5">Blog</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <h4 class="text-center"><i>CERTIFICATION</i></h4>

      <div class="row mt-2 portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="/user/images/portfolio/html.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4 class="text-center font-weight-boled">HTML CERTIFICATE</h4>
              <p class="text-center">HTML-Basic to Advance</p>
              <div class="portfolio-links">
                <a href="/user/images/portfolio/html.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="HTML CERTIFICATE"><i class="bx bx-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/css.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">CSS CERTIFICATE</h4>
                <p class="text-center">CSS-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/css.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="CSS CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/BOOTSTRAP.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">BOOTSTRAP CERTIFICATE</h4>
                <p class="text-center">BOOTSTRAP-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/BOOTSTRAP.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="BOOTSTRAP CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/JAVASCRIPT.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">JAVASCRIPT CERTIFICATE</h4>
                <p class="text-center">JAVASCRIPT-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/JAVASCRIPT.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="JAVASCRIPT CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/JQUERY.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">JQUERY CERTIFICATE</h4>
                <p class="text-center">JQUERY-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/JQUERY.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="JQUERY CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/JSON.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">JSON CERTIFICATE</h4>
                <p class="text-center">JSON-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/JSON.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="JSON CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/AJAX.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">AJAX CERTIFICATE</h4>
                <p class="text-center">AJAX-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/AJAX.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="AJAX CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/NODEJS.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">NODEJS CERTIFICATE</h4>
                <p class="text-center">NODEJS-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/NODEJS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="NODEJS CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/EXPRESSJS.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">EXPRESSJS CERTIFICATE</h4>
                <p class="text-center">EXPRESSJS-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/EXPRESSJS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="EXPRESSJS CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="/user/images/portfolio/MYSQL.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4 class="text-center font-weight-boled">MYSQL CERTIFICATE</h4>
                <p class="text-center">MYSQL-Basic to Advance</p>
                <div class="portfolio-links">
                  <a href="/user/images/portfolio/MYSQL.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MYSQL CERTIFICATE"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </section>
<%-include('footer.ejs') %>
